{{outlet}}
<section class="vh-50" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Change Password</h3>

            <form {{action 'login' on='submit' }}>
              <div class="form-group">
                <label for="name">Login name</label>
                <br>
                {{input value=username id="name" class="form-control form-control-lg"}}
              </div>
              <div class="form-group">
                <label for="currentpassword">Current Password</label>
                <br>
                {{input type="password" id="currentpassword" value=currentpassword class="form-control
                form-control-lg"}}
              </div>
              <div class="form-group">
                <label for="newpassword">New Password</label>
                <br>
                {{input type="password" id="newpassword" value=newpassword class="form-control form-control-lg"}}
              </div>
              
              <br>
              <button class="btn btn-primary" {{action 'reset' }}>Reset</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>